@charset "UTF-8";
/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
	margin: 0;
}

table {
	border-collapse:collapse;
}

td {
	border:1px solid black;
	padding: 2px;
}


#header, #footer, .content {
	border: 0px solid;	
	width: 100vw;
  	height: 100vh;
  	text-align: center;
  	
}

/***************************************************************
Style of the main table
***************************************************************/
#main-container {
	background: #b4e2f4;
	width: 100vw;
  	height: 100vh;
}

/***************************************************************
Header style (TD tag in the first top row)
***************************************************************/
#header {
	background: #b4e2f4;
	padding: 0px;
}

/***************************************************************
Style for the header
***************************************************************/
#fixedHeader {
	background: #b4e2f4;
	width: 100%;
	text-align: center;	
	padding-top: 20px;
}

/***************************************************************
Content styles (TD tag in the main middle row)
***************************************************************/
.content {
	height: 100%;
	background: #BBBBFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

/***************************************************************
Settings form (settings.jsp)
***************************************************************/
#form > div > p {
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: 2px;
}

#form > input[type=submit] {
	margin-top: 10px;
}

/***************************************************************
List activities table (participantActivities.jsp)
***************************************************************/
#activities_table {
	margin-top: 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#list_menu_table thead {
	text-align: center;
}

#list_menu_table td:last-child {
	text-align: center;
}
