@charset "UTF-8";
/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
	margin: 0;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 2px;
}

#header, #footer, .content {
	border: 0px solid;
	width: 100vw;
	height: 100vh;
	text-align: center;
}

/***************************************************************
Header style 
***************************************************************/
#header {
	background: #b4e2f4;
	padding: 0px;
}

#fixedHeader {
	background: #b4e2f4;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

/***************************************************************
List tables
***************************************************************/
#activities_table {
	margin-top: 0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}